### Load SQL Magics

In [1]:
%load_ext sql

### Load sqlalchemy to create a local environment of PostgreSQL server

In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
# %sql dialect+driver://username:password@host:port/database
%sql postgresql://jovyan:postgres@localhost:8765/rsm-docker

'Connected: jovyan@rsm-docker'

### Create engine

In [4]:
engine = create_engine("postgresql://jovyan:postgres@localhost:8765/rsm-docker")

In [5]:
engine

Engine(postgresql://jovyan:***@localhost:8765/rsm-docker)

### Get files as data frames

In [6]:
accounts = pd.read_excel("data/accounts.xlsx")
orders = pd.read_excel("data/orders.xlsx")
region = pd.read_excel("data/region.xlsx")
sales_reps = pd.read_excel("data/sales_reps.xlsx")
web_events = pd.read_excel("data/web_events.xlsx")

### Data ingestion to tables in a database (here - rsm-docker)

In [7]:
accounts.to_sql("accounts", engine, if_exists="replace")
orders.to_sql("orders", engine, if_exists="replace")
region.to_sql("region", engine, if_exists="replace")
sales_reps.to_sql("sales_reps", engine, if_exists="replace")
web_events.to_sql("web_events", engine, if_exists="replace")

In [8]:
engine.table_names()

['accounts', 'orders', 'region', 'sales_reps', 'web_events', 'ACCOUNTS']

## Queries

### 1. How many of the sales reps have more than 5 accounts that they manage?

In [9]:
%%sql

SELECT COUNT(*)
FROM (
SELECT s.name, COUNT(*)
FROM accounts a
JOIN sales_reps s
ON s.id = a.sales_rep_id
GROUP BY s.name
HAVING COUNT(*) > 5
) AS sales_reps5

 * postgresql://jovyan:***@localhost:8765/rsm-docker
1 rows affected.

[(34,)]

### 2. How many accounts have more than 20 orders?

In [10]:
%%sql

SELECT COUNT(*)
FROM (
SELECT a.name, COUNT(*)
FROM accounts a
JOIN orders o
ON o.account_id = a.id
GROUP BY a.name
HAVING COUNT(*) > 20
) AS accounts20

 * postgresql://jovyan:***@localhost:8765/rsm-docker
1 rows affected.

[(120,)]

### 3. Which account has the most orders?

In [11]:
%%sql

SELECT a.name, COUNT(o.occurred_at)
FROM accounts a
JOIN orders o
ON o.account_id = a.id
GROUP BY a.name
ORDER BY COUNT(o.occurred_at) DESC
LIMIT 1;

 * postgresql://jovyan:***@localhost:8765/rsm-docker
1 rows affected.

[('Leucadia National', 71)]

### 4. Which accounts spent more than 30,000 USD total across all orders?

In [12]:
%%sql

SELECT a.name, sum(o.total_amt_usd)
FROM accounts a
JOIN orders o
ON o.account_id = a.id
GROUP BY a.name
HAVING SUM(o.total_amt_usd) > 30000;

 * postgresql://jovyan:***@localhost:8765/rsm-docker
204 rows affected.

[('Monsanto', 130964.11),
 ('KKR', 217473.85),
 ('Performance Food Group', 47645.86),
 ('Paccar', 161294.62),
 ('USAA', 46822.63),
 ('CST Brands', 122957.11),
 ('Ally Financial', 37653.96),
 ('Amgen', 82013.05),
 ('Broadcom', 75130.5),
 ('Reynolds American', 49930.29),
 ('Sears Holdings', 139015.09),
 ('Aetna', 237781.3),
 ('Gilead Sciences', 62148.87),
 ('Dominion Resources', 64604.0),
 ('Viacom', 33673.86),
 ('Altria Group', 116165.15),
 ('HP', 56162.34),
 ('American Family Insurance Group', 153015.87),
 ('Kinder Morgan', 54891.56),
 ('Bank of America Corp.', 93217.8),
 ('CenturyLink', 44535.04),
 ('AutoNation', 135822.85),
 ('FedEx', 119965.08),
 ('Best Buy', 163887.39),
 ('Leucadia National', 291047.25),
 ('Avis Budget Group', 241711.25),
 ('Western Refining', 108579.84),
 ('American Airlines Group', 30083.18),
 ('Celgene', 96593.53),
 ('Anthem', 47487.78),
 ('Stanley Black & Decker', 72788.52),
 ('Ameriprise Financial', 55883.55),
 ('Northrop Grumman', 48578.16),
 ('Progressive', 72875.84),
 ('Allstate', 96779.18),
 ('Freeport-McMoRan', 49162.7),
 ('Valero Energy', 52020.6),
 ('EOG Resources', 382873.3),
 ('Freddie Mac', 234225.65),
 ('Halliburton', 32645.38),
 ('Costco', 30741.01),
 ('DISH Network', 253635.75),
 ('Icahn Enterprises', 38851.15),
 ('Office Depot', 51477.19),
 ('Chevron', 46725.41),
 ('Republic Services', 293861.14),
 ('BorgWarner', 41242.06),
 ('D.R. Horton', 98474.44),
 ('EMC', 36982.12),
 ('Tyson Foods', 47417.76),
 ('Marathon Petroleum', 137227.88),
 ('Dollar General', 49975.93),
 ('Oracle', 31231.56),
 ('Southern', 42881.21),
 ('Fidelity National Financial', 110027.29),
 ('Anadarko Petroleum', 80328.56),
 ('Global Partners', 67909.96),
 ('Enterprise Products Partners', 31971.72),
 ('R.R. Donnelley & Sons', 36218.43),
 ('Fluor', 251299.77),
 ('Time Warner', 69479.06),
 ('Mosaic', 345618.59),
 ('Core-Mark Holding', 231856.98),
 ('Texas Instruments', 54792.72),
 ('American Electric Power', 32044.55),
 ('Farmers Insurance Exchange', 96376.94),
 ('First Data', 45967.25),
 ('Time Warner Cable', 57130.53),
 ('News Corp.', 34675.03),
 ('AutoZone', 65958.07),
 ('Molina Healthcare', 66381.57),
 ('Merck', 64536.17),
 ('United States Steel', 244695.99),
 ('CDW', 101553.15),
 ('Abbott Laboratories', 96819.92),
 ("Toys 'R' Us", 56179.21),
 ('Kellogg', 83419.38),
 ('CarMax', 64251.56),
 ("Kohl's", 90105.16),
 ('Philip Morris International', 137600.67),
 ('Goodyear Tire & Rubber', 185463.76),
 ('TJX', 140046.68),
 ('Becton Dickinson', 35961.76),
 ('Supervalu', 275288.3),
 ('United Natural Foods', 54443.06),
 ('NGL Energy Partners', 40607.07),
 ('ADP', 163579.18),
 ('J.P. Morgan Chase', 94684.25),
 ('Lithia Motors', 107142.63),
 ('Archer Daniels Midland', 272672.84),
 ('Whirlpool', 32965.13),
 ('PNC Financial Services Group', 46208.37),
 ('Capital One Financial', 72595.01),
 ('Chesapeake Energy', 44534.95),
 ('Travelers Cos.', 156582.24),
 ('United Continental Holdings', 118879.76),
 ('BB&T Corp.', 123847.32),
 ('GameStop', 38469.65),
 ('State Farm Insurance Cos.', 111810.55),
 ('Boeing', 65091.39),
 ('American Express', 45557.51),
 ('Humana', 32937.93),
 ('National Oilwell Varco', 131318.64),
 ('NRG Energy', 59727.21),
 ('Sempra Energy', 38569.85),
 ('Verizon', 115376.17),
 ('Nationwide', 76630.92),
 ('AmerisourceBergen', 38741.81),
 ('Ford Motor', 154811.43),
 ('Lincoln National', 77628.11),
 ('CHS', 167271.8),
 ('International Paper', 59086.76),
 ('Genuine Parts', 61561.44),
 ('PPL', 112176.03),
 ('Precision Castparts', 63743.89),
 ('Pfizer', 144865.83),
 ('Ecolab', 135517.95),
 ('Nordstrom', 31273.02),
 ('Avnet', 66812.24),
 ('Phillips 66', 131173.41),
 ('Western Digital', 269155.34),
 ('Intel', 167717.4),
 ('PepsiCo', 30095.72),
 ('Henry Schein', 35487.34),
 ('Arrow Electronics', 281018.36),
 ('Discover Financial Services', 57035.05),
 ('AT&T', 51647.76),
 ('Estee Lauder', 38198.82),
 ('Wells Fargo', 200174.66),
 ("Land O'Lakes", 138323.59),
 ("Lowe's", 45873.47),
 ('Raytheon', 94725.92),
 ('Bristol-Myers Squibb', 188457.46),
 ('SunTrust Banks', 99125.76),
 ('PG&E Corp.', 81697.27),
 ('CSX', 35759.7),
 ('Honeywell International', 86362.7),
 ('Cameron International', 67459.65),
 ('Cummins', 34839.82),
 ('Tenet Healthcare', 33028.08),
 ('Target', 120523.91),
 ('eBay', 94244.44),
 ('State Street Corp.', 119173.59),
 ('Visa', 61255.5),
 ('Community Health Systems', 56644.6),
 ("McDonald's", 47258.13),
 ('Colgate-Palmolive', 130893.51),
 ('Crown Holdings', 75110.81),
 ('Cigna', 127671.94),
 ('Mondelez International', 37465.37),
 ('IBM', 326819.48),
 ('Edison International', 37010.95),
 ('Sysco', 278575.64),
 ('Hormel Foods', 88946.14),
 ('Duke Energy', 118867.17),
 ('Synnex', 134039.25),
 ('Entergy', 123503.18),
 ('Group 1 Automotive', 30708.92),
 ('Illinois Tool Works', 67439.95),
 ('Aflac', 117862.77),
 ('HollyFrontier', 79488.37),
 ('Omnicom Group', 41161.06),
 ('Jarden', 179761.43),
 ('United Technologies', 235051.07),
 ('Jacobs Engineering Group', 75600.49),
 ('Southwest Airlines', 125968.04),
 ('Citigroup', 160051.04),
 ('Alphabet', 44407.22),
 ('Walmart', 124014.87),
 ('Pacific Life', 255319.18),
 ('Public Service Enterprise Group', 73833.01),
 ('Charter Communications', 135924.15),
 ('Occidental Petroleum', 105115.44),
 ('DaVita HealthCare Partners', 33982.78),
 ('3M', 127945.1),
 ('HD Supply Holdings', 50888.03),
 ('Centene', 238962.47),
 ('New York Life Insurance', 126898.91),
 ('Thrivent Financial for Lutherans', 38204.46),
 ('General Dynamics', 300694.79),
 ('Eversource Energy', 57059.76),
 ('Johnson Controls', 37796.28),
 ('BlackRock', 147599.56),
 ('PayPal Holdings', 84768.94),
 ('Emerson Electric', 143471.26),
 ('Twenty-First Century Fox', 42065.82),
 ('Kroger', 59946.4),
 ('Coca-Cola', 43692.29),
 ('Prudential Financial', 157782.52),
 ('Hilton Worldwide Holdings', 38648.01),
 ('Nucor', 60936.18),
 ('FirstEnergy', 132868.82),
 ('Cisco Systems', 130917.0),
 ('Disney', 205886.97),
 ('Cognizant Technology Solutions', 62504.05),
 ('General Mills', 32226.37),
 ('Qualcomm', 54114.02),
 ('Jabil Circuit', 79246.93),
 ('Guardian Life Ins. Co. of America', 157523.24),
 ('Thermo Fisher Scientific', 153705.1),
 ('Caterpillar', 81700.33),
 ('Franklin Resources', 135730.44),
 ('Murphy USA', 36294.27),
 ('Walgreens Boots Alliance', 130153.59)]

### 5. Which accounts spent less than 1,000 usd total across all orders?

In [13]:
%%sql

SELECT a.name
FROM accounts a
JOIN orders o
ON o.account_id = a.id
GROUP BY a.name
HAVING SUM(o.total_amt_usd) < 1000;

 * postgresql://jovyan:***@localhost:8765/rsm-docker
3 rows affected.

[('Delta Air Lines',), ('Level 3 Communications',), ('Nike',)]

### 6. Which account has spent the most with us?

In [14]:
%%sql

SELECT a.name, SUM(o.total_amt_usd) Total_spent
FROM accounts a
JOIN orders o
ON o.account_id = a.id
GROUP BY a.name
ORDER BY SUM(o.total_amt_usd) DESC
LIMIT 1;

 * postgresql://jovyan:***@localhost:8765/rsm-docker
1 rows affected.

[('EOG Resources', 382873.3)]

### 7. Which account has spent the least with us?

In [15]:
%%sql

SELECT a.name, SUM(o.total_amt_usd) Total_spent
FROM accounts a
JOIN orders o
ON o.account_id = a.id
GROUP BY a.name
ORDER BY SUM(o.total_amt_usd)
LIMIT 1;

 * postgresql://jovyan:***@localhost:8765/rsm-docker
1 rows affected.

[('Nike', 390.25)]

### 8. Which accounts used facebook as a channel to contact customers more than 6 times?

In [16]:
%%sql

SELECT a.name
FROM accounts a
JOIN web_events w
ON w.account_id = a.id
WHERE w.channel = 'facebook'
GROUP BY a.name, w.channel
HAVING COUNT(*) > 6

 * postgresql://jovyan:***@localhost:8765/rsm-docker
46 rows affected.

[('BlackRock',),
 ('Apple',),
 ('PPL',),
 ('ADP',),
 ('Mosaic',),
 ('Charter Communications',),
 ('FirstEnergy',),
 ('eBay',),
 ('Aetna',),
 ('J.P. Morgan Chase',),
 ('Colgate-Palmolive',),
 ('Disney',),
 ('Honeywell International',),
 ('Fluor',),
 ('Avis Budget Group',),
 ('Cameron International',),
 ('General Dynamics',),
 ('Parker-Hannifin',),
 ('Cisco Systems',),
 ('Best Buy',),
 ('EOG Resources',),
 ('Ecolab',),
 ('Lithia Motors',),
 ('Marathon Petroleum',),
 ('CST Brands',),
 ('Core-Mark Holding',),
 ('Dollar General',),
 ('Kinder Morgan',),
 ('TJX',),
 ('General Mills',),
 ('Leucadia National',),
 ('AutoNation',),
 ('Southwest Airlines',),
 ('New York Life Insurance',),
 ('Wells Fargo',),
 ('Paccar',),
 ('Arrow Electronics',),
 ('Home Depot',),
 ('PayPal Holdings',),
 ('Farmers Insurance Exchange',),
 ('United Continental Holdings',),
 ('Laboratory Corp. of America',),
 ('Gilead Sciences',),
 ('Walgreens Boots Alliance',),
 ('Philip Morris International',),
 ('Massachusetts Mutual Life Insurance',)]

### 9. Which account used facebook most as a channel?

In [17]:
%%sql

SELECT a.name
FROM accounts a
JOIN web_events w
ON w.account_id = a.id
WHERE w.channel = 'facebook'
GROUP BY a.name, w.channel
ORDER BY COUNT(*) DESC
LIMIT 1;

 * postgresql://jovyan:***@localhost:8765/rsm-docker
1 rows affected.

[('Gilead Sciences',)]

### 10. Which channel was most frequently used by most accounts?

In [18]:
%%sql

SELECT w.channel, COUNT(DISTINCT a.name)
FROM accounts a
JOIN web_events w
ON w.account_id = a.id
GROUP BY w.channel
ORDER BY COUNT(DISTINCT a.name) DESC;

 * postgresql://jovyan:***@localhost:8765/rsm-docker
6 rows affected.

[('direct', 351),
 ('facebook', 265),
 ('adwords', 257),
 ('organic', 249),
 ('banner', 200),
 ('twitter', 187)]