### Load SQL Magics

In [1]:
%load_ext sql

### Load sqlalchemy to create a local environment of PostgreSQL server

In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
# %sql dialect+driver://username:password@host:port/database
%sql postgresql://jovyan:postgres@localhost:8765/rsm-docker

'Connected: jovyan@rsm-docker'

### Create engine

In [8]:
engine = create_engine("postgresql://jovyan:postgres@localhost:8765/rsm-docker")

In [9]:
engine

Engine(postgresql://jovyan:***@localhost:8765/rsm-docker)

### Get files as data frames

In [10]:
accounts = pd.read_excel('data/accounts.xlsx')
orders = pd.read_excel('data/orders.xlsx')
region = pd.read_excel('data/region.xlsx')
sales_reps = pd.read_excel('data/region.xlsx')
web_events = pd.read_excel('data/web_events.xlsx')

### Data ingestion to tables in a database (here - rsm-docker)

In [11]:
accounts.to_sql('accounts', engine, if_exists = 'replace')
orders.to_sql('orders', engine, if_exists = 'replace')
region.to_sql('region', engine, if_exists = 'replace')
sales_reps.to_sql('sales_reps', engine, if_exists = 'replace')
web_events.to_sql('web_events', engine, if_exists = 'replace')

In [12]:
engine.table_names()

['accounts', 'orders', 'region', 'sales_reps', 'web_events', 'ACCOUNTS']

In [14]:
%%sql

SELECT *
FROM web_events
WHERE channel in ('organic', 'adwords')
LIMIT 10;

 * postgresql://jovyan:***@localhost:8765/rsm-docker
10 rows affected.

[(4394, 4395, 1001, '2015-10-22T05:02:47.000Z', 'organic'),
 (4395, 4396, 1001, '2015-10-22T14:04:20.000Z', 'adwords'),
 (4398, 4399, 1001, '2016-01-01T15:45:54.000Z', 'adwords'),
 (4400, 4401, 1001, '2016-02-07T17:44:10.000Z', 'adwords'),
 (4401, 4402, 1001, '2016-02-27T15:27:22.000Z', 'organic'),
 (4403, 4404, 1001, '2016-04-05T03:02:52.000Z', 'organic'),
 (4404, 4405, 1001, '2016-04-17T16:41:02.000Z', 'organic'),
 (4407, 4408, 1001, '2016-05-21T16:22:01.000Z', 'organic'),
 (4409, 4410, 1001, '2016-06-22T13:48:53.000Z', 'adwords'),
 (4413, 4414, 1001, '2016-08-12T09:31:22.000Z', 'organic')]