### Load SQL Magics

In [2]:
%load_ext sql

### Load sqlalchemy to create a local environment of PostgreSQL server

In [3]:
from sqlalchemy import create_engine
import pandas as pd

In [4]:
# %sql dialect+driver://username:password@host:port/database
%sql postgresql://jovyan:postgres@localhost:8765/rsm-docker

'Connected: jovyan@rsm-docker'

### Create engine

In [5]:
engine = create_engine("postgresql://jovyan:postgres@localhost:8765/rsm-docker")

In [6]:
engine

Engine(postgresql://jovyan:***@localhost:8765/rsm-docker)

### Get files as data frames

In [7]:
accounts = pd.read_excel('data/accounts.xlsx')
orders = pd.read_excel('data/orders.xlsx')
region = pd.read_excel('data/region.xlsx')
sales_reps = pd.read_excel('data/region.xlsx')
web_events = pd.read_excel('data/web_events.xlsx')

### Data ingestion to tables in a database (here - rsm-docker)

In [8]:
accounts.to_sql('accounts', engine, if_exists = 'replace')
orders.to_sql('orders', engine, if_exists = 'replace')
region.to_sql('region', engine, if_exists = 'replace')
sales_reps.to_sql('sales_reps', engine, if_exists = 'replace')
web_events.to_sql('web_events', engine, if_exists = 'replace')

In [9]:
engine.table_names()

['sales_reps', 'web_events', 'orders', 'region', 'ACCOUNTS', 'accounts']

### Sample query test

In [10]:
%%sql

SELECT index
FROM web_events
WHERE channel in ('organic', 'adwords')
LIMIT 10;

 * postgresql://jovyan:***@localhost:8765/rsm-docker
10 rows affected.

[(4394,),
 (4395,),
 (4398,),
 (4400,),
 (4401,),
 (4403,),
 (4404,),
 (4407,),
 (4409,),
 (4413,)]