### Load SQL Magics

In [1]:
%load_ext sql

### Load sqlalchemy to create a local environment of PostgreSQL server

In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
# %sql dialect+driver://username:password@host:port/database
%sql postgresql://jovyan:postgres@localhost:8765/rsm-docker

'Connected: jovyan@rsm-docker'

### Create engine

In [4]:
engine = create_engine("postgresql://jovyan:postgres@localhost:8765/rsm-docker")

In [5]:
engine

Engine(postgresql://jovyan:***@localhost:8765/rsm-docker)

### Get files as data frames

In [6]:
accounts = pd.read_excel("data/accounts.xlsx")
orders = pd.read_excel("data/orders.xlsx")
region = pd.read_excel("data/region.xlsx")
sales_reps = pd.read_excel("data/sales_reps.xlsx")
web_events = pd.read_excel("data/web_events.xlsx")

### Data ingestion to tables in a database (here - rsm-docker)

In [7]:
accounts.to_sql("accounts", engine, if_exists="replace")
orders.to_sql("orders", engine, if_exists="replace")
region.to_sql("region", engine, if_exists="replace")
sales_reps.to_sql("sales_reps", engine, if_exists="replace")
web_events.to_sql("web_events", engine, if_exists="replace")

In [8]:
engine.table_names()

['accounts', 'orders', 'region', 'sales_reps', 'web_events', 'ACCOUNTS']

## Queries - LIKE

### 1. All the companies whose names start with 'C'.

In [9]:
%%sql

SELECT *
FROM accounts
WHERE name LIKE 'C%';

 * postgresql://jovyan:***@localhost:8765/rsm-docker
37 rows affected.

[(6, 1061, 'CVS Health', 'www.cvshealth.com', 41.46779585, -73.76763638, 'Anabel Haskell', 321560),
 (13, 1131, 'Chevron', 'www.chevron.com', 42.6119413, -76.36123105, 'Paige Bartos', 321630),
 (14, 1141, 'Costco', 'www.costco.com', 42.26304566, -74.80916921, 'Dominique Favela', 321640),
 (20, 1201, 'Cardinal Health', 'www.cardinal.com', 41.31906537, -77.52512192, 'Deanne Hertlein', 321700),
 (28, 1281, 'Citigroup', 'www.citigroup.com', 40.85305429, -76.49044823, 'Bea Sera', 321570),
 (36, 1361, 'Comcast', 'www.comcastcorporation.com', 42.54154764, -76.24992387, 'Shana Sanborn', 321650),
 (53, 1531, 'Cisco Systems', 'www.cisco.com', 41.20101093, -76.53824668, 'Deadra Waggener', 321610),
 (58, 1581, 'Caterpillar', 'www.caterpillar.com', 40.74789383, -73.97738651, 'Latia Beene', 321660),
 (61, 1611, 'Coca-Cola', 'www.coca-colacompany.com', 40.76216116, -73.9802105, 'Tisha Coletti', 321690),
 (78, 1781, 'Cigna', 'www.cigna.com', 40.75566271, -73.97723308, 'Kandi Mailloux', 321630),
 (84, 1831, 'CHS', 'www.chsinc.com', 42.36335095, -71.06592737, 'Sheilah Truss', 321640),
 (90, 1891, 'ConocoPhillips', 'www.conocophillips.com', 42.35647074, -71.05656643, 'Lisa Rayborn', 321590),
 (112, 2111, 'Capital One Financial', 'www.capitalone.com', 41.87811613, -87.63264013, 'Debby Myers', 321760),
 (124, 2231, 'Centene', 'www.centene.com', 41.87744125, -87.62568362, 'Shanika Mariani', 321790),
 (125, 2241, 'Community Health Systems', 'www.chs.net', 41.87567906, -87.63221831, 'Grazyna Dewald', 321710),
 (148, 2471, 'Cummins', 'www.cummins.com', 40.42480254, -94.07990516, 'Lavonda Geier', 321760),
 (159, 2581, 'CenturyLink', 'www.centurylink.com', 33.68718458, -84.3989112, 'Christoper Mcghie', 321840),
 (174, 2731, 'Colgate-Palmolive', 'www.colgatepalmolive.com', 33.76036803, -84.37000048, 'Barton Hyatt', 321890),
 (176, 2751, 'ConAgra Foods', 'www.conagrafoods.com', 33.82401567, -84.47180901, 'Mireille Worthley', 321810),
 (191, 2901, 'CarMax', 'www.carmax.com', 33.78790683, -84.3552477, 'Bobbi Rackers', 321860),
 (203, 3021, 'CBS', 'www.cbscorporation.com', 33.74979835, -84.3674757, 'Huong Fortino', 321880),
 (208, 3071, 'C.H. Robinson Worldwide', 'www.chrobinson.com', 30.43150596, -84.27163286, 'Crissy Cottle', 321830),
 (220, 3191, 'CDW', 'www.cdw.com', 30.44561608, -84.2690705, 'Jenny Poland', 321850),
 (223, 3221, 'Chesapeake Energy', 'www.chk.com', 30.45037802, -84.27915776, 'Teddy Braddock', 321880),
 (229, 3281, 'Consolidated Edison', 'www.conedison.com', 30.45055896, -84.27375247, 'Tamiko Calhoon', 321860),
 (230, 3291, 'Cognizant Technology Solutions', 'www.cognizant.com', 37.10984358, -86.30173677, 'Twanda Renninger', 321820),
 (233, 3321, 'Computer Sciences', 'www.csc.com', 35.44139516, -87.73446817, 'Lincoln Damewood', 321850),
 (238, 3381, 'CSX', 'www.csx.com', 37.25849318, -88.24483226, 'Shirely Cantara', 321860),
 (258, 3581, 'CBRE Group', 'www.cbre.com', 34.05591179, -118.24775488, 'Martina Haas', 321980),
 (291, 3911, 'Charter Communications', 'www.charter.com', 34.05973233, -118.2424699, 'Natacha Rita', 321910),
 (298, 3981, 'CST Brands', 'www.cstbrands.com', 34.05521925, -118.24244735, 'Shasta Rodas', 321980),
 (304, 4041, 'Celgene', 'www.celgene.com', 38.43307208, -121.58452875, 'Carisa Tinajero', 321940),
 (312, 4121, 'Corning', 'www.corning.com', 38.4041863, -121.43552833, 'Chad Winer', 321920),
 (316, 4161, 'Core-Mark Holding', 'www.core-mark.com', 38.60488242, -121.39945801, 'Marita Demasi', 321960),
 (318, 4181, 'Cameron International', 'www.c-a-m.com', 38.65683131, -121.93403154, 'Antwan Seagraves', 321980),
 (320, 4201, 'Crown Holdings', 'www.crowncork.com', 38.51520637, -121.16934096, 'Jung Soden', 321930),
 (336, 4361, 'Campbell Soup', 'www.campbellsoupcompany.com', 36.17162482, -115.15725318, 'Barrie Omega', 321920)]

### 2. All companies whose names contain the string 'one' somewhere in the name.

In [10]:
%%sql

SELECT *
FROM accounts
WHERE name LIKE '%one%';

 * postgresql://jovyan:***@localhost:8765/rsm-docker
3 rows affected.

[(74, 1741, 'Honeywell International', 'www.honeywell.com', 40.75117046, -73.98191857, 'Jeanne Harty', 321700),
 (83, 1821, 'INTL FCStone', 'www.intlfcstone.com', 42.35998456, -71.06380494, 'Ericka Hamid', 321630),
 (279, 3791, 'AutoZone', 'www.autozone.com', 34.05826339, -118.237747, 'Maryellen Strohmeyer', 321990)]

### 3. All companies whose names end with 's'.

In [11]:
# Limited to 20 rows to avoid scrolling. Total 77 rows.

In [12]:
%%sql

SELECT *
FROM accounts
WHERE name LIKE '%s'
LIMIT 20;

 * postgresql://jovyan:***@localhost:8765/rsm-docker
20 rows affected.

[(7, 1071, 'General Motors', 'www.gm.com', 40.80551762, -76.7101814, 'Barrie Omeara', 321570),
 (44, 1441, 'United Technologies', 'www.utc.com', 42.329397, -75.15785469, 'Janett Wisecarver', 321520),
 (46, 1461, "Lowe's", 'www.lowes.com', 42.02305207, -74.82210597, 'Roselee Pardini', 321540),
 (53, 1531, 'Cisco Systems', 'www.cisco.com', 41.20101093, -76.53824668, 'Deadra Waggener', 321610),
 (62, 1621, 'HCA Holdings', 'www.hcahealthcare.com', 40.76981958, -73.98813714, 'Hubert Blanch', 321700),
 (65, 1651, 'Tyson Foods', 'www.tysonfoods.com', 40.75518241, -73.98323704, 'Ardelle Khoury', 321520),
 (67, 1671, 'Delta Air Lines', 'www.delta.com', 40.75860903, -73.99067048, 'Enola Thoms', 321510),
 (69, 1691, 'Johnson Controls', 'www.johnsoncontrols.com', 40.76346837, -73.97890353, 'Cammy Sosnowski', 321500),
 (79, 3361, 'Ross Stores', 'www.rossstores.com', 34.82021219, -87.8701462, 'Latosha Hollar', 321840),
 (80, 1791, 'United Continental Holdings', 'www.unitedcontinentalholdings.com', 40.75034782, -73.9777814, 'Diedra Crossman', 321640),
 (85, 1841, 'American Express', 'www.americanexpress.com', 42.35739849, -71.06018574, 'Horacio Weidman', 321630),
 (86, 1851, 'Gilead Sciences', 'www.gilead.com', 42.35445028, -71.05788145, 'Nickie Moulden', 321640),
 (87, 1861, 'Publix Super Markets', 'www.publix.com', 42.35850315, -71.05281548, 'Cherri Sienkiewicz', 321630),
 (88, 1871, 'General Dynamics', 'www.generaldynamics.com', 42.35930205, -71.05137356, 'Erin Viverette', 321640),
 (90, 1891, 'ConocoPhillips', 'www.conocophillips.com', 42.35647074, -71.05656643, 'Lisa Rayborn', 321590),
 (92, 1911, 'World Fuel Services', 'www.wfscorp.com', 42.3646094, -71.06350665, 'Kasandra Correa', 321590),
 (103, 2021, "Macy's", 'www.macysinc.com', 42.3587363, -71.05155415, 'Teresita Ashalintubbi', 321690),
 (104, 2031, 'Enterprise Products Partners', 'www.enterpriseproducts.com', 42.355919, -71.06244313, 'Marina Catoe', 321700),
 (109, 2081, "McDonald's", 'www.aboutmcdonalds.com', 41.87849555, -87.63388882, 'Alisa Rega', 321730),
 (111, 2101, 'Sears Holdings', 'www.searsholdings.com', 41.87718869, -87.63438258, 'Hsiu Benedetti', 321750)]

## Queries - IN

### 1. Use the accounts table to find the account name, primary_poc, and sales_rep_id for Walmart, Target, and Nordstrom.

In [13]:
%%sql

SELECT name, primary_poc, sales_rep_id
FROM accounts
WHERE name in ('Walmart', 'Target', 'Nordstrom');

 * postgresql://jovyan:***@localhost:8765/rsm-docker
3 rows affected.

[('Walmart', 'Tamara Tuma', 321500),
 ('Target', 'Luba Streett', 321660),
 ('Nordstrom', 'Yan Crater', 321820)]

### 2. Use the web_events table to find all information regarding individuals who were contacted via the channel of organic or adwords.

In [11]:
# Limited to 20 rows to avoid scrolling. Total 1858 rows.

In [15]:
%%sql

SELECT *
FROM web_events
WHERE channel in ('organic', 'adwords')
LIMIT 20;

 * postgresql://jovyan:***@localhost:8765/rsm-docker
20 rows affected.

[(4394, 4395, 1001, '2015-10-22T05:02:47.000Z', 'organic'),
 (4395, 4396, 1001, '2015-10-22T14:04:20.000Z', 'adwords'),
 (4398, 4399, 1001, '2016-01-01T15:45:54.000Z', 'adwords'),
 (4400, 4401, 1001, '2016-02-07T17:44:10.000Z', 'adwords'),
 (4401, 4402, 1001, '2016-02-27T15:27:22.000Z', 'organic'),
 (4403, 4404, 1001, '2016-04-05T03:02:52.000Z', 'organic'),
 (4404, 4405, 1001, '2016-04-17T16:41:02.000Z', 'organic'),
 (4407, 4408, 1001, '2016-05-21T16:22:01.000Z', 'organic'),
 (4409, 4410, 1001, '2016-06-22T13:48:53.000Z', 'adwords'),
 (4413, 4414, 1001, '2016-08-12T09:31:22.000Z', 'organic'),
 (4415, 4416, 1001, '2016-09-11T17:06:53.000Z', 'adwords'),
 (4416, 4417, 1011, '2016-12-21T16:14:29.000Z', 'adwords'),
 (4419, 4420, 1021, '2015-10-26T03:14:39.000Z', 'adwords'),
 (4424, 4425, 1021, '2016-02-02T22:06:55.000Z', 'adwords'),
 (4426, 4427, 1021, '2016-03-02T00:38:48.000Z', 'adwords'),
 (4427, 4428, 1021, '2016-03-02T09:37:48.000Z', 'adwords'),
 (4430, 4431, 1021, '2016-04-23T04:41:13.000Z', 'organic'),
 (4431, 4432, 1021, '2016-05-04T03:29:12.000Z', 'organic'),
 (4432, 4433, 1021, '2016-05-26T13:31:54.000Z', 'organic'),
 (4433, 4434, 1021, '2016-06-03T21:40:58.000Z', 'organic')]